<table>
  <tr>
    <th style="width:200px; text-align:left">Message</th>
    <th style="width:75px">Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= render :partial => 'tweet', :collection => @tweets %> 
</table>
