<h1>Fish Tales</h1>

<p>Muskie Message</p>
<div id="tweet_form">
  <%= render 'form' %>
</div>

<div id='tweets_all'>
  <%= render :partial => 'listing' %>
</div>
<br />

<%= link_to 'New Tweet', new_tweet_path %>
